<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlanB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo/png/Logo-PlanBV5.png') }}"
                alt="Internet is not connection">
            <span>Plan <font>B</font></span>
        </div>
        <nav>
            <ul>
                {% if session['loggedin'] %}
                <p>Hello, {{ session['login'] }}!</p>
                <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                <li><a href="#" class="log">Login</a></li>
                <li><a href="#" class="reg">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="container main">
        <div class="modal-window rega">
            <div class="form-autentification">
                <div class="top-elements">
                    <span>Plan <font>B</font></span>
                    <div class="to-close">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="form-elements">
                    <div class="form">
                        <span>Регистрация</span>
                        <form id="registerForm" action="/register" method="post">
                            <input type="hidden" name="action" value="register">
                            <input type="text" name="name" placeholder="ФИО" required>
                            <input type="text" name="login" placeholder="Логин" required>
                            <input type="password" name="password" placeholder="Пароль" required>
                            <input type="email" name="email" placeholder="Email" required>
                            <div class="account_type">
                                <div class="employer">
                                    <input type="radio" id="employer" name="account_type" value="employer">
                                    <label for="employer">Работодатель</label>
                                </div>
                                <div class="employee">
                                    <input type="radio" id="employee" name="account_type" value="employee">
                                    <label for="employee">Работник</label>
                                </div>
                            </div>
                            <button type="submit" onclick="registerUser()">Зарегистрироваться</button>
                        </form>


                        <p>У вас уже есть аккаунт? <a href="#" class="alog">Войти</a></p>
                    </div>
                    <div class="form-img">
                        <div class="error-message" id="registerFormError"></div>
                        <img src="{{ url_for('static', filename='img/resources/registration.png') }}"
                            alt="Internet is not connection">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-window loga">
            <div class="form-autentification">
                <div class="top-elements">
                    <span>Plan <font>B</font></span>
                    <div class="to-close closelog">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="form-elements">
                    <div class="form-img logimg">
                        <div class="error-message" id="loginFormError"></div>
                        <img src="{{ url_for('static', filename='img/resources/login.png') }}"
                            alt="Internet is not connection">
                    </div>
                    <div class="form formlog">
                        <div class="error-message"></div>
                        <span>Авторизация</span>
                        <form id="loginForm" action="/login" method="post">
                            <input type="hidden" name="action" value="login">
                            <input type="text" name="login" placeholder="Логин" required>
                            <input type="password" name="password" placeholder="Пароль" required>
                            <button type="submit" onclick="loginUser()">Войти</button>
                        </form>

                        <p>У вас ещё нет аккаунта? <a href="#" class="areg">Зарегестрироваться</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-img">
            <div class="img">
                <img src="{{ url_for('static', filename='img/resources/main.png') }}" alt="Internet not connection">
            </div>
            <div class="info">
                <span>
                    <p>Добро пожаловать в</p><b>Plan <font>B</font></b>
                </span>
                <p>
                    <b>Plan <font>B</font></b> - уникальный веб-сайт, предназначенный для
                    эффективного планирования работы сотрудников
                    предприятия. Наш сервис предоставляет широкий набор
                    инструментов, которые помогут вам оптимизировать рабочий
                    процесс и повысить производительность вашей команды.
                </p>
                <button class="lets">Поехали</button>
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <script>
        showAlert('{{ message }}', 'registerForm');
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}



    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>