<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlanB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
</head>

<body>
    <div class="container">
        <div class="left-menu">
            <div class="logo">
                <span>Plan <font>B</font></span>
            </div>
            <div class="global-set">

            </div>
            <div class="account">
                <div class="account_info">
                    <img src="{{url_for('static', filename='img/icon/account.png')}}" alt="">
                    {% if session['loggedin'] %}
                    <p>{{ session['login'] }}</p>
                    <p>Тип аккаунта: {{ translate_account_type(session['account_type']) }}</p>
                    {% endif %}
                </div>
                <div class="setting_account">
                    <a><img src="{{url_for('static', filename='img/icon/settings.png')}}" alt=""></a>
                    <a href="{{ url_for('logout') }}"><img src="{{url_for('static', filename='img/icon/logout.png')}}" alt=""></a>
                </div>
            </div>
        </div>
        <div class="task">
            <img src="{{url_for('static', filename='img/icon/notepad.png')}}" alt="">
            <span>У вас пока нет активных задач</span>
            <button>Добавить</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>